
#mainNav .nav-logotipo , #mainNav{
  transition: filter 600ms;
}
#mainNav:not(.navbar-shrink) .nav-logotipo {
  filter: grayscale(1) brightness(5);
}
.service-fs-icons {
    font-size: 40px;
    color: #ad2d2d;
}